#project-details {
    background-color: #1C1C1C;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 50px;
    text-align: center;
}
#proj-long-desc {
    display: block !important;
    visibility: visible !important;
    font-size: 16px;
    color: #333;
}

.container {
    max-width: 600px;
    background-color: #B56576 ;
    padding: 20px;
    border: 2px solid #E9C46A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(83, 65, 65, 0.2);
}

.container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.container video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #1C1C1C;
    color: white;
    text-decoration: none;
    border: 2px solid  #E9C46A;
    border-radius: 6px;
}

.btn:hover {
    background: #8d6e4a;
}


